apiVersion: v1
kind: Namespace
metadata:
  name: vegas-casino
  labels:
    name: vegas-casino
    app: vegas-casino-microservices





<<<<<<< HEAD
=======



>>>>>>> 808c574 (Prepare Perform Hackathon 2026: Update to OpenTelemetry v2 and various improvements)
